version: "3.8"
services:
  broker:
    build:
      context: ./mqtt-broker
    stdin_open: true
    tty: true
    ports:
      - "1883:1883"
      - "8883:8883"
    restart: on-failure
  mysql_db:
    image: hypriot/rpi-mysql:latest # FIXME: crashes on oliver's machine if this is not hypriot/rpi-mysql:latest . hypriot/rpi-mysql:5.7 does not work.
    restart: on-failure
    environment:
      MYSQL_USER: pi
      MYSQL_PASSWORD: foobar
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: buildingiot
    ports:
      - "3306:3306"
  backend:
    build:
      context: ./backend
    restart: on-failure
    ports:
      - "5000:5000"
    links:
      - broker
    depends_on:
      - "mysql_db"
#  frontend:
#    build:
#      context: ./frontend
#    restart: on-failure
#    ports:
#      - "3000:3000"
#    depends_on:
#      - "backend"
  publisher:
    build:
      context: ./sensor-publisher
    restart: on-failure
    privileged: true
    links:
      - broker
