tr {
    background: yellow;
}

.green {
    background: greenyellow;
}

.red {
    background: red;
}

.orange {
    background: orange;
}


/* The animation code */

@keyframes navigation {
    from {
        width: 140px;
        height: 140px;
        background-color: orange;
    }
    to {
        width: 160px;
        height: 160px;
        background-color: orange;
    }
}

.navigation-effect {
    animation-name: navigation;
    animation-duration: 1s;
    animation-iteration-count: 5;
}

#parkingArea {
    background-color: #F0F0F0;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 10px;
    width: 1400px;
    height: 800px;
}

#slot1 {
    position: absolute;
    top: 300px;
    left: 30%;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 10px;
}

#slot2 {
    position: absolute;
    top: 470px;
    left: 30%;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 10px;
}

#slot3 {
    position: absolute;
    top: 640px;
    left: 30%;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 10px;
}

#slot4 {
    position: absolute;
    top: 810px;
    left: 30%;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 10px;
}

#slot5 {
    position: absolute;
    right: 30%;
    top: 300px;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 10px;
}

#slot6 {
    position: absolute;
    right: 30%;
    top: 470px;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 10px;
}

#slot7 {
    position: absolute;
    right: 30%;
    top: 640px;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 10px;
}

#slot8 {
    position: absolute;
    right: 30%;
    top: 810px;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 10px;
}